html,
body,
#app {
  height: 100%;
}

:root {
  /* Colors */
  --white: #ffffff;
  --light-gray: #d3d3d3;
  --light-pink: #fff4f4;

  /* Spacings */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;

  /* Radius */
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
}

.main {
  height: 100%;
  padding: var(--space-md);
  width: 100%;

  .edit-btn {
    width: 100px;
  }

  .dash {
    border: 1px solid var(--light-gray);
    border-radius: var(--radius-sm);
    gap: var(--space-sm);
    height: calc(100% - 76px);
    padding: var(--space-xs);

    &.edit-mode {
      background-color: var(--light-pink);
      border-style: dashed;
    }
  }

  .container-widget {
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    gap: var(--space-sm);

    .dropdown-widget {
      align-self: auto;
    }
  }
}
