html,
body,
#app {
  height: 100%;
}

.dash {
  height: 100%;
  width: 100%;
  padding: 15px;

  .edit-btn {
    width: 100px;
  }

  .main {
    height: calc(100% - 76px);
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 5px;

    &.edit-mode {
      background-color: rgba(255, 244, 244, 1);
      border-style: dashed;
    }
  }

  .h-box {
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: #fff;
  }
}
