html,
body,
#app {
  height: 100%;
}

:root {
  /* Colors */
  --white: #ffffff;
  --light-gray: #d3d3d3;
  --light-gray-2: #f2f2f2;
  --light-pink: #fff4f4;
  --red: #e53935;

  /* Spacings */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 10px;
  --space-lg: 16px;
  --space-xl: 24px;

  /* Radius */
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;

  /* z-indexes */
  --z-0: 0;
  --z-1: 10;
  --z-2: 100;
  --z-3: 500;
  --z-4: 1000;
  --z-5: 2000;
  --z-6: 3000;
  --z-7: 9999;

  /* Sizes */
  --size-2xs: 8px;
  --size-xs: 16px;
  --size-sm: 24px;
  --size-md: 48px;
  --size-lg: 96px;
  --size-xl: 200px;
  --size-2xl: 400px;
  --size-3xl: 600px;
}

.main {
  height: 100%;
  padding: var(--space-xl) !important;
  width: 100%;

  .header {
    width: 100%;
  }

  .title {
  }

  .dash-controls {
    gap: var(--space-md) !important;
  }

  .show-action-modal-btn {
  }

  .toggle-mode-btn {
    width: 100px;
  }

  .dash {
    border: 1px solid var(--light-gray);
    border-radius: var(--radius-sm);
    gap: var(--space-sm);
    height: calc(100% - 76px);
    padding: var(--space-xs);

    &.edit-mode {
      background-color: var(--light-pink);
      border-style: dashed;
    }
  }

  .show-widget-modal-btn {
  }

  .widget-modal {
  }

  .widget-list {
    height: var(--size-2xl);
    width: var(--size-2xl);
  }

  .add-widget-btn {
  }

  .action-modal {
  }

  .action-connector {
    height: var(--size-2xl);
    width: var(--size-2xl);
  }

  .create-action-btn {
  }

  .action-selector {
    &:nth-child(1) {
      margin-left: var(--space-sm);
    }
    &:nth-child(2) {
      margin-left: var(--space-lg);
    }
  }

  .event-selector {
  }

  .handler-selector {
  }

  .save-actions-btn {
  }

  .context-menu {
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: default;
    position: absolute;
    width: var(--size-xl);
    z-index: var(--z-7);

    > div {
      padding: calc(var(--space-sm) - 2px);

      &:hover {
        background-color: var(--light-gray-2);
      }

      &:nth-child(2) {
        color: var(--red);
      }
    }
  }

  .settings-modal {
    > :nth-child(2) {
      > div {
        display: flex;
        flex-direction: column;
        height: var(--size-2xl);
        justify-content: space-between;
        padding: var(--space-sm);
        width: var(--size-2xl);

        > div {
          align-items: center;
          display: flex;
          gap: var(--size-space-md);
        }
      }
    }
  }

  .api-settings-field {
  }

  .save-settings-btn {
  }

  .container-widget {
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    gap: var(--space-sm);
    padding: var(--space-sm);
  }

  .dropdown-widget {
    align-self: auto;
    width: calc(var(--size-xl) + 100px) !important;
  }

  .button-widget {
  }

  .datepicker-widget {
  }

  .table-widget {
  }

  .table-loading-placeholder {
    height: 400px;
    width: 500px;
  }

  /* .rc-datepicker-dropdown-wrapper { */
  /*   padding-top: var(--space-xs); */
  /* } */
}
