html,
body,
#app {
  height: 100%;
}

:root {
  /* Colors */
  --white: #ffffff;
  --light-gray: #d3d3d3;
  --light-gray-2: #f2f2f2;
  --light-pink: #fff4f4;
  --red: #e53935;

  /* Spacings */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;

  /* Radius */
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;

  /* z-indexes */
  --z-0: 0;
  --z-1: 10;
  --z-2: 100;
  --z-3: 500;
  --z-4: 1000;
  --z-5: 2000;
  --z-6: 3000;
  --z-7: 9999;

  /* Sizes */
  --size-2xs: 8px;
  --size-xs: 16px;
  --size-sm: 24px;
  --size-md: 48px;
  --size-lg: 96px;
  --size-xl: 200px;
  --size-2xl: 400px;
  --size-3xl: 600px;
}

.main {
  height: 100%;
  padding: var(--space-md);
  width: 100%;

  .edit-btn {
    width: 100px;
  }

  .dash {
    border: 1px solid var(--light-gray);
    border-radius: var(--radius-sm);
    gap: var(--space-sm);
    height: calc(100% - 76px);
    padding: var(--space-xs);

    &.edit-mode {
      background-color: var(--light-pink);
      border-style: dashed;
    }
  }

  .container-widget {
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    gap: var(--space-sm);

    .dropdown-widget {
      align-self: auto;
    }
  }

  .context-menu {
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: default;
    position: absolute;
    width: var(--size-xl);
    z-index: var(--z-7);

    > div {
      padding: calc(var(--space-sm) - 2px);

      &:nth-child(2) {
        color: var(--red);
      }

      &:hover {
        background-color: var(--light-gray-2);
      }
    }
  }

  .settings-modal {
    > :nth-child(2) {
      > div {
        padding: var(--space-sm);
        height: var(--size-2xl);
        width: var(--size-2xl);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > div {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }

  .rc-datepicker-dropdown-wrapper {
    padding-top: var(--space-xs);
  }

  button {
  }
}
